<div class="search">
    <nav class="navbar navbar-expand px-0">
        <a [routerLink]="['/home']" class="mr-auto text-decoration-none">
            <h1>Hello Search 🔍</h1>
        </a>
        <ul class="navbar-nav navbar-right">
            <sq-saved-queries-menu></sq-saved-queries-menu>
        </ul>
    </nav>
    <app-search-form></app-search-form>
    <hr>
    <div class="container-fluid mt-3 mb-5" *ngIf="loginService.complete">
        <!-- <div *ngIf="results$ | async; let results"> -->
        <div class="row" *ngIf="searchService.resultsStream | async; let results">

            <div class="col-md-4 col-lg-3 col-xl-2">
                <sq-facet-card [title]="'msg#savedQueries.savedQueries'" [icon]="'fas fa-save'">
                    <sq-facet-saved-queries #facet [maxQueries]="5" [searchRoute]=""></sq-facet-saved-queries>
                </sq-facet-card>
                <sq-facet-card [title]="'msg#recentQueries.recentQueries'" [icon]="'fas fa-save'">
                    <sq-facet-recent-queries #facet [maxQueries]="5" [searchRoute]=""></sq-facet-recent-queries>
                </sq-facet-card>
                <sq-facet-card [title]="'msg#facet.company.title'" [icon]="'fas fa-building'">
                    <sq-facet-list #facet [results]="results" [aggregation]="'Company'"></sq-facet-list>
                </sq-facet-card>
                <sq-facet-card [title]="'msg#facet.treepath.title'" [icon]="'fas fa-sitemap'">
                    <sq-facet-tree #facet [results]="results" [aggregation]="'Treepath'" [allowExclude]="true">
                    </sq-facet-tree>
                </sq-facet-card>
            </div>

            <div class=" col-md-8 col-lg-9 col-xl-10">
                <sq-tabs [results]="results"></sq-tabs>
                <sq-loading-bar></sq-loading-bar>
                <sq-pager [results]="results"></sq-pager>
                <button class="btn btn-success" *ngIf="searchService.resultsStream | async"
                    (click)="savedQueriesService.createSavedQueryModal()">
                    <i class="fas fa-save"></i>
                </button>

                <div *ngFor="let record of results.records" class="record">
                    <a href="#" (click)="openDocument(record)">
                        <h3 [innerHtml]="record.displayTitle || record.title"></h3>
                    </a>
                    <a href="{{record.url1}}">
                        <div class="source">{{record.url1}}</div>
                    </a>
                    <div class="source">{{record.url1}}</div>
                    <p *ngIf="record.relevantExtracts" [innerHTML]="record.relevantExtracts"></p>
                </div>

            </div>

        </div>
    </div>

    <hr>
    <span [sq-action-buttons]="{items: languageActions}"></span>
</div>